/.angular/cache
# See http://help.github.com/ignore-files/ for more about ignoring files.
.vscode/*
# compiled output
/dist
/tmp
/out-tsc
# dependencies
/node_modules
**/node_modules
/coverage
/node/
/cypress/videos
/cypress/screenshots
/instrumented
.nyc_output
.external-resources
.idea
**/build
